*  {font-family: 'Courier New', Courier, monospace;}
h1 {text-align: center; color: red;}
.a1 {text-align: center;}
.a2 {color: red;}
.a3 {text-transform: capitalize;}
.a4 {position: relative; left:30px}